.product-list {
  color: tomato;
}
button {
  width: 40px;
  border: none;
  height: 25px;
  background-color: rgba(255, 99, 71, 0.335);
  color: rgb(196, 72, 50);
  transition: 0.2s ease-in-out;
  margin-left: 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(255, 99, 71, 0.716);
}
.tomato {
  background-color: tomato;
  color: aliceblue;
  width: 200px;
  padding-top: 10px;
  margin: 0 auto;
  height: 30px;
}
.blue {
  background-color: rgb(89, 89, 251);
  color: aliceblue;
  width: 200px;
  padding-top: 10px;
  margin: 0 auto;
  height: 30px;
}
.text-color {
  color: rgb(255, 193, 182);
}
