.home-container {
  text-align: center;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
.tshirt-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
